.elementor-10 .elementor-element.elementor-element-72b1dad0:not(.elementor-motion-effects-element-type-background), .elementor-10 .elementor-element.elementor-element-72b1dad0 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color:#244065
}

.elementor-10 .elementor-element.elementor-element-72b1dad0 {
    border-style: solid;
    border-width: 0 0 1px;
    border-color: #e4e4e4;
    transition:background .3s, border .3s, border-radius .3s, box-shadow .3s
}

.elementor-10 .elementor-element.elementor-element-72b1dad0 > .elementor-background-overlay {
    transition:background .3s, border-radius .3s, opacity .3s
}

.elementor-10 .elementor-element.elementor-element-7eb0cb78 > .elementor-container {
    max-width:850px
}

.elementor-10 .elementor-element.elementor-element-7eb0cb78:not(.elementor-motion-effects-element-type-background), .elementor-10 .elementor-element.elementor-element-7eb0cb78 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color:#f7f7f7
}

.elementor-10 .elementor-element.elementor-element-7eb0cb78 {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    margin-top: 0;
    margin-bottom: 0;
    padding:10px 0 0
}

.elementor-10 .elementor-element.elementor-element-7eb0cb78 > .elementor-background-overlay {
    transition:background .3s, border-radius .3s, opacity .3s
}

.elementor-10 .elementor-element.elementor-element-46472103 {
    text-align:center
}

.elementor-10 .elementor-element.elementor-element-46472103 .elementor-heading-title {
    color: #000;
    font-family: poppins, Sans-serif;
    font-size: 25px;
    font-weight: 700;
    line-height:1.4em
}

.elementor-10 .elementor-element.elementor-element-43788431 img {
    width:85%
}

.elementor-10 .elementor-element.elementor-element-41bb73ef {
    text-align:center
}

.elementor-10 .elementor-element.elementor-element-41bb73ef .elementor-heading-title {
    color: #333;
    font-family: poppins, Sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height:1.8em
}

.elementor-10 .elementor-element.elementor-element-21d3f055 {
    text-align:center
}

.elementor-10 .elementor-element.elementor-element-21d3f055 .elementor-heading-title {
    color: #333;
    font-family: poppins, Sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height:1.8em
}

.elementor-10 .elementor-element.elementor-element-3a4118ce {
    --divider-border-style: solid;
    --divider-color: #777777;
    --divider-border-width:1px
}

.elementor-10 .elementor-element.elementor-element-3a4118ce .elementor-divider-separator {
    width:100%
}

.elementor-10 .elementor-element.elementor-element-3a4118ce .elementor-divider {
    padding-top: 15px;
    padding-bottom:15px
}

.elementor-10 .elementor-element.elementor-element-69fe641f:not(.elementor-motion-effects-element-type-background), .elementor-10 .elementor-element.elementor-element-69fe641f > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color:#f7f7f7f7
}

.elementor-10 .elementor-element.elementor-element-69fe641f {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    margin-top: 0;
    margin-bottom: 0;
    padding:20px 0 0
}

.elementor-10 .elementor-element.elementor-element-69fe641f > .elementor-background-overlay {
    transition:background .3s, border-radius .3s, opacity .3s
}

.elementor-10 .elementor-element.elementor-element-591fc242 {
    text-align:left
}

.elementor-10 .elementor-element.elementor-element-591fc242 .elementor-heading-title {
    color: #7a7a7a;
    font-family: roboto, Sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height:1.5em
}

.elementor-10 .elementor-element.elementor-element-3ea37e3e {
    text-align:left
}

.elementor-10 .elementor-element.elementor-element-3ea37e3e .elementor-heading-title {
    color: #7a7a7a;
    font-family: roboto, Sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height:1.5em
}

.elementor-10 .elementor-element.elementor-element-6683358d {
    text-align:left
}

.elementor-10 .elementor-element.elementor-element-6683358d .elementor-heading-title {
    color: #bfbfbf;
    font-family: montserrat, Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height:1.5em
}

@media (max-width: 767px) {
    .elementor-10 .elementor-element.elementor-element-46472103 .elementor-heading-title {
        font-size:20px
    }

    .elementor-10 .elementor-element.elementor-element-46472103 > .elementor-widget-container {
        margin:0
    }

    .elementor-10 .elementor-element.elementor-element-43788431 img {
        width:100%
    }

    .elementor-10 .elementor-element.elementor-element-41bb73ef .elementor-heading-title {
        font-size: 16px;
        line-height:1.5em
    }

    .elementor-10 .elementor-element.elementor-element-41bb73ef > .elementor-widget-container {
        margin:-10px 0 0
    }

    .elementor-10 .elementor-element.elementor-element-21d3f055 .elementor-heading-title {
        font-size: 16px;
        line-height:1.5em
    }

    .elementor-10 .elementor-element.elementor-element-21d3f055 > .elementor-widget-container {
        margin:-10px 0 0
    }

    .elementor-10 .elementor-element.elementor-element-69fe641f {
        margin-top: 0;
        margin-bottom: 0;
        padding: 50px 0 0
    }
}
